// Dedicated style sheet for advanced search
@media (max-width: 650px) {
    main {
        margin-top: 70px;
    }


}

@media (min-width: 651) {
    main {
        margin-top: 120px;
    }

}

#container {
    margin: 0 40px 0 40px;
}
