$link-color: black;
$background-color: rgb(235, 235, 235);
$border-color: rgb(200, 200, 200);

// @media (max-width: 600px) {
//     /* Mobile first */
// }

// @media (min-width: 601px) {
//     /* Desktop second */
// }

// #container {
//     display: grid;
// }

// Template for search buttons
%search-btn {
    background-color: rgb(236, 236, 236);
    margin: 25px 25px 0 0;
    font-size: 14px;
    border-radius: 4px;
    min-width: 54px;
    padding: 0 16px;
    height: 36px;
    border: none;
    cursor: pointer;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    // min-height: 100%;
    // position:relative;
}

.link-buttons {
    text-align: right;
    margin: 10px 20px 0 0;
}

header {
    a {
        color: black;
        padding: 10px;
        font-size: 13px;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }

    div{
        width: 100%;
    }
}

main {
    margin-top: 210px;
    text-align: center;

    p {
        font-size: 12px;
    }

    a {
        margin: 0 10px;
    }
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;

}

#search-bar {
    width: 484px;
    height: 44px;
    border: 1px solid $border-color;
    border-radius: 24px;
    padding-left: 15px;
}

#search-bar:hover {
    box-shadow: 0 0 3px 1px gray;
}

.search-button {
    @extend %search-btn;
}

.search-button:hover {
    @extend %search-btn;
    // border: 1px solid $border-color;
    box-shadow: 0 0 4px 2px $background-color;
}

img {
    margin-bottom: 30px;
}

// Footer
.location-bar, .legal-bar {
    line-height: 40px;
    padding-left: 26px;
    width: 100%;
    border-top: 1px solid rgb(180, 180, 180);
    background-color: $background-color;
    // margin: auto -10px;
    
    .legal {
        text-align: right;
        margin-right: 26px;
    }

    a {
        padding-right: 12px;
    }
}

// TODO last thing before the finished design, align properly the footer elements
