@media (min-width: 650px) {
    body {
        background-color: gray;
    }

    div {
        width: 550px;
        background-color: lightgrey;
    }
}

@media (max-width: 649px) {
    body {
        background-color: lightsteelblue;
    }

    div {
        width: 80%;
        background-color: lightyellow;
    }
}

body {
    font-family: monospace;
    font-size: 18px;
}

h1 {
    color: red;
    text-align: center;
}

div {
    border-radius: 7px;
    padding: 15px 25px;
    margin: 50px auto;
}
